<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sensor">
            <h2><span>Sensor</span> {{sensor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sensorname</span></dt>
                <dd>
                    <span>{{sensor.sensorname}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{sensor.amount}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{sensor.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sensor', sensor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
