<div>
    <h2 id="page-heading">
        <span>Calculated Result</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
</div>

<div class="row">
    <div class="col-sm-4">
                <div *ngIf="calculated">
                    <hr>
                    <jhi-alert-error></jhi-alert-error>
                    <dl class="row-md jh-entity-details">
                        <dt><span>Sequence</span></dt>
                        <dd>
                            <span>{{calculated.sequence}}</span>
                        </dd>
                        <dt><span>MW Weight</span></dt>
                        <dd>
                            <span>{{calculatedEntries[calculatedEntries.length - 1]?.mwwithoutprotection}}</span>
                        </dd>
                        <dt><span>Pi</span></dt>
                        <dd>
                            <span>{{calculated.pi}}</span>
                        </dd>
                        <dt><span>Net Charge</span></dt>
                        <dd>
                            <span>{{calculated.netcharge}}</span>
                        </dd>
                        <dt><span>Formula</span></dt>
                        <dd>
                            <span>C<sub>{{calculated.numc}}</sub>H<sub>{{calculated.numh}}</sub>N<sub>{{calculated.numn}}</sub>O<sub>{{calculated.numo}}</sub>S<sub>{{calculated.nums}}</sub></span>
                        </dd>

                        <dt><span>Solubility</span></dt>
                        <dd>
                            <span>{{calculated.solubility}}</span>
                        </dd>
                        <dt><span>Scale</span></dt>
                        <dd>
                            <span>{{calculated.scale}}</span>
                        </dd>
                        <dt><span>Substitude</span></dt>
                        <dd>
                            <span>{{calculated.substitude}}</span>
                        </dd>               
                        <dt><span>Start Resin</span></dt>
                        <dd>
                            <span>{{calculated.startresin}}</span>
                        </dd>
                        <dt><span>Resin Unit Price</span></dt>
                        <dd>
                            <span>{{calculated.resinunitprice}}</span>
                        </dd>
     
                                <dt><span>Weight Gain</span></dt>
                                <dd>
                                    <span>{{calculated.weightgain}}</span>
                                </dd> 
                                <dt><span>Final Resin Weight</span></dt>
                                <dd>
                                    <span>{{calculated.totalweight}}</span>
                                </dd>
                                <div *ngIf="hasprotocol">
                                <dt><span>Cost Resin</span></dt>
                                <dd>
                                    <span>{{calculated.costresin}}</span>
                                </dd>
                                <dt><span>Cost AA</span></dt>
                                <dd>
                                    <span>{{calculated.costaa}}</span>
                                </dd>
                                <dt><span>Total Cost</span></dt>
                                <dd>
                                    <span>{{totalcost}}</span>
                                </dd>
                        </div>
                        
                    </dl>
                </div>
    </div>
    <div *ngIf="chart" class="col-sm-8">
        <canvas id="canvas">{{ chart }}</canvas>
    </div>
</div>


<div class="table-responsive" *ngIf="calculatedEntries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Step</span></th>
            <th><span>Aa</span></th>
            <th><span>Sc</span></th>
            <th><span>Dc</span></th>
            <th><span>AA MW</span></th>
            <th><span>AA Weight</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calculatedEntry of calculatedEntries ;trackBy: trackId">
                <td>{{calculatedEntry.sequencenumber}}</td>
                <td>{{calculatedEntry.aa}}</td>
                <td>{{calculatedEntry.sc}}</td>
                <td>{{calculatedEntry.dc}}</td>
                <td>{{calculatedEntry.eachaaweight}}</td>
                <td>{{calculatedEntry.currentresinweight}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/calculated-entry', calculatedEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>




    <div class="table-responsive" *ngIf="protocolret">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Solvent</span></th>
            <th><span>Amount</span></th>
            <th><span>Reagent Cost</span></th>
            <th><span>Waste Cost</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proto of protocolret">
                <td>{{proto.solvent}}</td>
                <td>{{proto.amount}}</td>
                <td>{{proto.reagentcost}}</td>
                <td>{{proto.wastecost}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{pro_tot_amount}}</td>
                <td>{{pro_reagent_cost}}</td>
                <td>{{pro_waste_cost}}</td>
            </tr>
            </tbody>
        </table>
    </div>

