<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="convert()" #editForm="ngForm">
            <h2 id="jhi-aas-heading">Basic 20 AA Converter</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_aaname">One/Three Letter</label>
                    <textarea style="height:200px;" type="text" class="form-control" name="aaname" id="field_aaname"
                        [(ngModel)]="aaname"></textarea>
                </div>
            </div>
            <div>
                <button type="submit" id="save-entity"  class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Transfer</span>
                </button>
            </div>
        </form>
    </div>
</div>
<div >
        <div class="container" style="height:450px; width:325px;">
            {{res}}
        </div>
    </div>



