<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reagent-heading">Create or edit a Reagent</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reagent.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reagent.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reagentname">Reagentname</label>
                    <input type="text" class="form-control" name="reagentname" id="field_reagentname"
                        [(ngModel)]="reagent.reagentname" required/>
                    <div [hidden]="!(editForm.controls.reagentname?.dirty && editForm.controls.reagentname?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reagentname?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unitprice">Unitprice</label>
                    <input type="number" class="form-control" name="unitprice" id="field_unitprice"
                        [(ngModel)]="reagent.unitprice" required/>
                    <div [hidden]="!(editForm.controls.unitprice?.dirty && editForm.controls.unitprice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitprice?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.unitprice?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_wasterunitprice">Wasterunitprice</label>
                    <input type="number" class="form-control" name="wasterunitprice" id="field_wasterunitprice"
                        [(ngModel)]="reagent.wasterunitprice" required/>
                    <div [hidden]="!(editForm.controls.wasterunitprice?.dirty && editForm.controls.wasterunitprice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.wasterunitprice?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.wasterunitprice?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
<button type="button" routerLink="/protocol" class="btn btn-primary btn-md">Back</button>
