<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reagent">
            <h2><span>Reagent</span> {{reagent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reagentname</span></dt>
                <dd>
                    <span>{{reagent.reagentname}}</span>
                </dd>
                <dt><span>Unitprice</span></dt>
                <dd>
                    <span>{{reagent.unitprice}}</span>
                </dd>
                <dt><span>Wasterunitprice</span></dt>
                <dd>
                    <span>{{reagent.wasterunitprice}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{reagent.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reagent', reagent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
