<div>
    <h2 id="page-heading">
        <span>Calculateds</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="calculateds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Id</span></th>
            <th><span>Sequence</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calculated of calculateds ;trackBy: trackId">
                <td>{{calculated.id}}</td>
                <td>{{calculated.sequence}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                        
                                [routerLink]="['/calculated-entry/calculated-entrycal/', calculated.id ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'calculated', { outlets: { popup: calculated.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
