

<div class="d-flex justify-content-center" style="width: 100%;">
    <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
            <img [src]="../../content/images/syn/cs136xtran.png" class="img-responsive center-block" alt="Random first slide">
            <div class="carousel-caption">
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide">
            <div class="carousel-caption">
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
            </div>
            </ng-template>
        </ngb-carousel>
    </div>
<div class="row" style="text-align:center">

    <div class="container">
        <h1 class="display-4">Welcome CSBio Peptide Notebook!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">sign in</a>
            </div>
        </div>


    </div>
</div>



<!-- <a href="https://dev-143218.oktapreview.com/oauth2/v1/authorize?idp=0oaj1wrhfkQTI3ZTw0h7&client_id=27352961854-og4k80u9vql0n44lje3qpvqslfo1s4ju.apps.googleusercontent.com&response_type=id_token&response_mode=fragment&scope=openid&redirect_uri=http://localhost:8080/login&state=CSRF&nonce=YsG76jo">Login With Google</a> -->

